{% extends 'base.html' %}
{% block content %}
<div id="group">
    <iframe
            src="https://clips.twitch.tv/embed?clip={{ video.id }}&parent=localhost"
            height="600"
            width="1000"
            preload="auto"
            allowfullscreen>
    </iframe>
    <div id="buttons">
    <form method="post">
        {% csrf_token %}
        {% for i in ranks %}
        <button class="rank-btn r{{ i }}" name="value" value="{{ i }}">Rank {{ i }}</button>
        {% endfor %}
    </form>
    </div>
</div>
{% endblock %}

