{% extends 'base.html' %}
{% block content %}
<table id="final-ranks">
    <tr>
        <th>Rank 5</th>
        {% for video in videos %}
        {% if video.rank == 5 %}
        <td>
            <iframe
                    src="https://clips.twitch.tv/embed?clip={{ video.id }}&parent=localhost"
                    height="180"
                    width="320"
                    allowfullscreen>
            </iframe>
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <th>Rank 4</th>
        {% for video in videos %}
        {% if video.rank == 4 %}
        <td>
            <iframe
                    src="https://clips.twitch.tv/embed?clip={{ video.id }}&parent=localhost"
                    height="180"
                    width="320"
                    allowfullscreen>
            </iframe>
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <th>Rank 3</th>
        {% for video in videos %}
        {% if video.rank == 3 %}
        <td>
            <iframe
                    src="https://clips.twitch.tv/embed?clip={{ video.id }}&parent=localhost"
                    height="180"
                    width="320"
                    allowfullscreen>
            </iframe>
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <th>Rank 2</th>
        {% for video in videos %}
        {% if video.rank == 2 %}
        <td>
            <iframe
                    src="https://clips.twitch.tv/embed?clip={{ video.id }}&parent=localhost"
                    height="180"
                    width="320"
                    allowfullscreen>
            </iframe>
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <th>Rank 1</th>
        {% for video in videos %}
        {% if video.rank == 1 %}
        <td>
            <iframe
                    src="https://clips.twitch.tv/embed?clip={{ video.id }}&parent=localhost"
                    height="180"
                    width="320"
                    allowfullscreen>
            </iframe>
        </td>
        {% endif %}
        {% endfor %}
    </tr>
</table>
{% endblock %}

