{% extends 'base.html' %}
{% block content %}
<table id="final-ranks">
    {% for i in ranks %}
    <tr>
        <th>Rank {{ i }}</th>
        {% for video in videos %}
        {% if video.rank == i %}
        <td>
            <iframe
                    src="https://clips.twitch.tv/embed?clip={{ video.id }}&parent=localhost"
                    height="135"
                    width="240"
                    preload="none"
                    allowfullscreen>
            </iframe>
            <p class="name">{{ video.account.username }}</p>
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

