* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #eee;
}

#heading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}


/* CSS */
button.btn {
    background-color: #111;
    border-style: none;
    color: white;
    cursor: pointer;
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 16px;
    padding: 16px;
    position: absolute;
    text-align: left;
}

button.btn:hover,
button.btn:focus {
    background-color: #ddd;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}

button.btn:active {
    background-color: #222;
    color: #eee;
}


a.btn {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}
a:hover.btn {
    background-color: #ddd;
    color: black;
}
a:active.btn {
    background-color: #222;
    color: #eee;
}


.btn-bot {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}

#group {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}

#buttons {
    padding-top: 2rem;
    width: 1000px;
}

#buttons form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rank-btn {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

.rank-btn.r8 {
    background-color: #9BED72;
}

.rank-btn.r7 {
    background-color: #72ED73;
}

.rank-btn.r6 {
    background-color: #72ED9D;
}

.rank-btn.r5 {
    background-color: #72EDC8;
}

.rank-btn.r4 {
    background-color: #72E8ED;
}

.rank-btn.r3 {
    background-color: #72BEED;
}

.rank-btn.r2 {
    background-color: #7294ED;
}

.rank-btn.r1 {
    background-color: #7A72ED;
}

.rank-btn:hover {
    background-color: #EAFCFA;
}


.rank-btn:active {
    background-color: #84EEE0;
    color: #DDD;
}

#final-ranks {
    padding-top: 3em;
}

#final-ranks p.name {
    margin-top: 0;
    display: flex;
    justify-content: center;
}
