{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
            <title>Clip Ranker - {{ title }}</title>
        {% else %}
            <title>Clip Ranker</title>
        {% endif %}
        <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="sidenav">
            <a class="btn" href="{% url 'index' %}">Home</a>
            {% if user.is_staff %}
            <a class="btn" href="{% url 'show' 1 %}">Rank</a>
            {% endif %}
            {% if user.is_staff %}
                <a class="btn" href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
            {% if user.is_staff %}
            <a class="btn" href="{% url 'final' %}">Results</a>
            {% endif %}
            {% if user.is_authenticated %}
                <form action="{% url 'account_logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-bot" type="submit">Log out</button>
                </form>
                <a class="btn" href="#">{{ user.username }}</a>
            {% else %}
                <form action="{% provider_login_url 'twitch' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-bot" type="submit">Log in with Twitch</button>
                </form>
            {% endif %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
